
/* Header Styles */
.navbar-dark {
  background-color: rgb(29, 180, 197);
}

/* Home Styles */ 
.jumbotron {
  padding: 5px 30px 5px 30px;
  margin:0px auto;
  background-color: white;
}

.pb-50 {
  padding-bottom : 50px;
}

/* Common Styles */
.row {
  display: flex;
  flex-wrap: wrap;
}

.row > div[class*='col-'] {
  display: flex;
}

.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 30px 0px 60px 0px;
  min-height:400px;
}

/* Currency Styles */
.currency-block {
  border : solid 1px rgb(29, 180, 197);
  height : 400px;
  width  : 800px;
  margin: 20px 0px 20px 0px;
}

/*Quality Score Styles */
.score-block {
  border : 1px rgb(29, 180, 197) solid; 
}

.progress-block {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Contact Styles */
.contact i, .contact a{
  color :  rgb(29, 180, 197);
}

.contact li {
  display : inline;
  padding-left: 10px;
}

.bg-info {
  background-color: rgb(29, 180, 197);
}

/* Footer Style */
.footer{
  background-color: rgb(29, 180, 197);
  margin:0px auto;
  padding: 10px 0px 10px 0px;
  color : white;
  position: fixed;
  height: 60px;
  bottom: 0;
  width: 100%;
}

.footer i{
  background-color: rgb(29, 180, 197);
  color : white;
}

.footer li {
  display : inline;
  padding-left: 10px;
}

.footer a {
  color : white;
}

/* Media Query */
@media (max-width: 600px) {
  .card-view > div {
      margin-bottom: 20px;
  }
}

